---
layout: default
title: Flexible Pricing
description: Flexible and low cost pricing options.
permalink: /pricing.html
sitemap: true
---

 
 <div id="SVGwave1BottomSMShape" class="svg-preloader position-relative gradient-half-primary-v1">
      <div class="container space-top-2 space-top-md-4 space-bottom-4">
        <div class="w-md-80 w-lg-60 text-center mx-auto">
          <div class="mb-6">
            <h1 class="text-white">Find the <span class="font-weight-semi-bold">right plan</span> for your site</h1>
          </div>

          <!-- Button Group -->
          <div class="btn-group btn-group-toggle mb-4">
            <a class="js-animation-link btn btn-outline-light btn-custom-toggle-white btn-sm-wide active" href="javascript:;"
               data-target="#pricingMonthly"
               data-link-group="idPricing">
              Monthly
            </a>
            <a class="js-animation-link btn btn-outline-light btn-custom-toggle-white btn-sm-wide" href="javascript:;"
               data-target="#pricingYearly"
               data-link-group="idPricing">
              Yearly
              <span class="badge badge-success badge-pill badge-bigger badge-pos">10% OFF</span>
            </a>
          </div>
          <!-- End Button Group -->
        </div>
      </div>

      <!-- SVG Background -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265685/svg/components/wave-1-bottom-sm.svg" alt=""
             data-parent="#SVGwave1BottomSMShape">
      </figure>
      <!-- End SVG Background -->
    </div>
    <!-- End Hero Section -->

    <!-- Pricing Section -->
    <div class="position-relative mt-n23 z-index-2">
      <div class="container">
        <div class="space-bottom-2 space-bottom-md-3">
          <!-- Pricing Carousel -->
          <div id="pricingMonthly" data-target-group="idPricing">
            <div class="js-slick-carousel u-slick u-slick--gutters-2 z-index-2"
                 data-slides-show="4"
                 data-adaptive-height="true"
                 data-slides-scroll="1"
                 data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
                 data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h2 class="h6 text-primary mb-3">Starter</h2>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>22
                      </span>
                      <span class="d-block text-secondary font-size-1">per month</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Starter</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h3 class="h6 text-warning mb-3">Basic</h3>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>44
                      </span>
                      <span class="d-block text-secondary font-size-1">per month</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Basic</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-success mb-3">Company</h4>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>69
                      </span>
                      <span class="d-block text-secondary font-size-1">per month</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                      <li class="list-group-item">20+ home page options</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Free Trial</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-danger mb-3">Enterprise</h4>
                    <span class="d-block">
                      <span class="h2 text-dark font-weight-normal">
                        Contact Us
                      </span>
                      <span class="d-block text-secondary font-size-1">no user limit</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                      <li class="list-group-item">20+ home page options</li>
                      <li class="list-group-item">Priority Support</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-warning transition-3d-hover">Contact Us</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>
            </div>
          </div>
          <!-- End Pricing Carousel -->

          <!-- Pricing Carousel -->
          <div id="pricingYearly" style="display: none; opacity: 0;" data-target-group="idPricing">
            <div class="js-slick-carousel u-slick u-slick--gutters-2 z-index-2"
                 data-slides-show="4"
                 data-slides-scroll="1"
                 data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0"
                 data-responsive='[{
                   "breakpoint": 1200,
                   "settings": {
                     "slidesToShow": 3
                   }
                 }, {
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                 }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                 }]'>
              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-primary mb-3">Starter</h4>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>242
                      </span>
                      <span class="d-block text-secondary font-size-1">per year</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Starter</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-warning mb-3">Basic</h4>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>442
                      </span>
                      <span class="d-block text-secondary font-size-1">per year</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Basic</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-success mb-3">Company</h4>
                    <span class="d-block">
                      <span class="display-4 text-dark font-weight-normal">
                        <span class="align-top font-size-2">$</span>1089
                      </span>
                      <span class="d-block text-secondary font-size-1">per year</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                      <li class="list-group-item">20+ home page options</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover">Start Free Trial</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>

              <div class="js-slide">
                <!-- Pricing -->
                <div class="card transition-3d-hover mt-1">
                  <!-- Header -->
                  <header class="card-header text-center p-5">
                    <h4 class="h6 text-danger mb-3">Enterprise</h4>
                    <span class="d-block">
                      <span class="h2 text-dark font-weight-normal">
                        Contact Us
                      </span>
                      <span class="d-block text-secondary font-size-1">no user limit</span>
                    </span>
                  </header>
                  <!-- End Header -->

                  <!-- Content -->
                  <div class="card-body p-5">
                    <ul class="list-group list-group-flush list-group-borderless mb-4">
                      <li class="list-group-item">Community support</li>
                      <li class="list-group-item">400+ pages</li>
                      <li class="list-group-item">100+ header variations</li>
                      <li class="list-group-item">20+ home page options</li>
                      <li class="list-group-item">Priority Support</li>
                    </ul>

                    <button type="button" class="btn btn-sm btn-block btn-warning transition-3d-hover">Contact Us</button>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>
            </div>
          </div>
          <!-- End Pricing Carousel -->
        </div>

        <!-- Divider -->
        <div class="w-80 mx-auto">
          <hr class="my-0">
        </div>
        <!-- End Divider -->
      </div>
    </div>
    <!-- End Pricing Section -->

    <!-- FAQ Section -->
    <div class="container space-2 space-md-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Help</span>
        <h2 class="text-primary">Frequently asked <span class="font-weight-semi-bold">question</span>:</h2>
      </div>
      <!-- End Title -->

      <!-- FAQ -->
      <div class="space-bottom-2 space-bottom-md-3">
        <div class="row">
          <div class="col-md-6 mb-5">
            <div class="pr-md-4">
              <h3 class="h6">Can I cancel at anytime?</h3>
              <p>Yes, you can cancel anytime no questions are asked while you cancel but we would highly appreciate if you will give us some feedback.</p>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <div class="pl-md-4">
              <h3 class="h6">My team has credits. How do we use them?</h3>
              <p>Once your team signs up for a subscription plan. This is where we sit down, grab a cup of coffee and dial in the details.</p>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col-md-6 mb-5">
            <div class="pr-md-4">
              <h3 class="h6">How does Front's pricing work?</h3>
              <p>Our subscriptions are tiered. Understanding the task at hand and ironing out the wrinkles is key.</p>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <div class="pl-md-4">
              <h3 class="h6">How secure is Front?</h3>
              <p>Protecting the data you trust to Front is our first priority. This part is really crucial in keeping the project in line to completion.</p>
            </div>
          </div>

          <div class="w-100"></div>

          <div class="col-md-6 mb-5 mb-md-0">
            <div class="pr-md-4">
              <h3 class="h6">Do you offer discounts?</h3>
              <p>We've built in discounts at each tier for teams. The time has come to bring those ideas and plans to life.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pl-md-4">
              <h3 class="h6">What is your refund policy?</h3>
              <p>We offer refunds. We aim high at being focused on building relationships with our clients and community.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End FAQ -->

      <!-- Divider -->
      <div class="w-80 mx-auto">
        <hr class="my-0">
      </div>
      <!-- End Divider -->
    </div>
    <!-- End FAQ Section -->

    <!-- Clients Logos -->
    <div class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Help</span>
        <h2 class="text-primary">Trusted by <span class="font-weight-semi-bold">great</span> companies</h2>
      </div>
      <!-- End Title -->

     <div class="row justify-content-center text-center">
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/amazon-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/alphabet-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/paypal-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/slack-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/samsung-original.svg" alt="">
        </div>

        <div class="w-100"></div>

        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/google-original.svg" alt="n">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/fitbit-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/shopify-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/stripe-original.svg" alt="">
        </div>

        <div class="w-100"></div>

        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/mapbox-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/spotify-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="../../assets/svg/clients-logo/uber-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="../../assets/svg/clients-logo/airbnb-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="../../assets/svg/clients-logo/netflix-original.svg" alt="">
        </div>

        <div class="w-100"></div>

        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="../../assets/svg/clients-logo/embark-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="../../assets/svg/clients-logo/lenovo-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2">
          <img class="u-clients" src="../../assets/svg/clients-logo/boring-company-original.svg" alt="">
        </div>
        <div class="col-4 col-md-2">
          <img class="u-clients" src="../../assets/svg/clients-logo/hubspot-original.svg" alt="">
        </div>
      </div>
    <!-- Counters -->
    <div class="container">
      <div class="row text-center space-2 space-md-3">
        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">
            25
            <span class="h3 text-warning align-middle font-weight-semi-bold">+</span>
          </div>
          <h4 class="h6 text-secondary">Years</h4>
        </div>

        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">765</div>
          <h4 class="h6 text-secondary">Projects</h4>
        </div>

        <div class="col-sm-6 col-lg-3 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">
            100
            <span class="h3 text-warning align-middle font-weight-semi-bold">+</span>
          </div>
          <h4 class="h6 text-secondary">Talents</h4>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">2M</div>
          <h4 class="h6 text-secondary">Reach</h4>
        </div>
      </div>

      <!-- Divider -->
      <div class="w-80 mx-auto">
        <hr class="my-0">
      </div>
      <!-- End Divider -->
    </div>
    <!-- End Counters -->

    <!-- Testimonials -->
    <div class="bg-img-hero" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554855926/img/bg3.png);">
      <div class="container space-2 space-md-3">
        <!-- SVG Quote -->
        <figure class="mb-5 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
             viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
            <path class="fill-primary" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
              C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
              c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
              C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
          </svg>
        </figure>
        <!-- End SVG Quote -->

        <!-- Testimonials Carousel Main -->
        <div id="testimonialsNavMain" class="js-slick-carousel u-slick mb-4"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-fade="true"
             data-nav-for="#testimonialsNavPagination">
          <div class="js-slide">
            <!-- Testimonials -->
            <div class="w-md-80 w-lg-60 text-center mx-auto">
              <blockquote class="h3 mb-5">The template is really nice and offers quite a large set of options. Thank you!</blockquote>
              <h4 class="h6 text-muted">Maria Muszynska, Google</h4>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide">
            <!-- Testimonials -->
            <div class="w-md-80 w-lg-60 text-center mx-auto">
              <blockquote class="h3 mb-5">It's beautiful and the coding is done quickly and seamlessly. Keep it up!</blockquote>
              <h4 class="h6 text-muted">James Austin, Slack</h4>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide">
            <!-- Testimonials -->
            <div class="w-md-80 w-lg-60 text-center mx-auto">
              <blockquote class="h3 mb-5">I love Front! I love the ease of use, I love the fact that I have total creative freedom...</blockquote>
              <h4 class="h6 text-muted">Charlotte Moore, Amazon</h4>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>
        <!-- End Testimonials Carousel Main -->

        <!-- Testimonials Carousel Pagination -->
        <div id="testimonialsNavPagination" class="js-slick-carousel u-slick u-slick--pagination-modern u-slick--transform-off mx-auto"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-focus-on-select="true"
             data-center-mode="true"
             data-slides-show="3"
             data-is-thumbs="true"
             data-nav-for="#testimonialsNavMain">
          <div class="js-slide">
            <div class="u-avatar mx-auto">
              <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265855/img/100x100/img1.jpg" alt="">
            </div>
          </div>

          <div class="js-slide">
            <div class="u-avatar mx-auto">
              <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265855/img/100x100/img10.jpg" alt="">
            </div>
          </div>

          <div class="js-slide">
            <div class="u-avatar mx-auto">
              <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265856/img/100x100/img2.jpgg" alt="">
            </div>
          </div>
        </div>
        <!-- End Testimonials Carousel Pagination -->
      </div>
    </div>
    <!-- End Testimonials -->

