---
layout: default
title: Office Life style
description: Who we are, and what makes us boogey.
---

<section id="blog-intro" class="tp--section-dark text-center">
	    <div class="header-overlay header-overlay50 text-white p-top-md-80">
    <div class="sub-header">
 <div class="container">
  <a href="/"><h1 class="blog-title blog-title--small">&gt;Elektro_byte</h1></a>
  <span class="blog-description--small e-small-1">: a collection of facts, tidbits, and musings <span class="blog-description--small-addition">about our world and our industry by the wonderful people of Everpay</span></span>
</div>
 </div>
        </div>
              </section>

<section class="row-fluid">
<div class="container aos-init aos-animate" data-aos="fade-up" data-aos-duration="750">
<div class="row">
<div class="grid">

<div class="row-fluid">
    <div class="col-sm-12">
      <section class="blog-title-section">
        <div class="row">
          <h1 class="marquee--category__title--office-culture">Everpay Culture_</h1>
            <p class="blog-description"></p>
        </div>
        <div class="blog-search-container">  
            <p class="blog-description"></p>
        </div>
      </section>
    </div>
  </div>
  
  <div class="row-fluid">    
   
 <div class="row">
<ul class="posts">
{% assign count = 0 %}
{% for post in site.posts %}
  {% if post.tags contains 'question' %}
    {% if count < 20 %}
      {% assign count = count|plus:1 %}
      <div class="row-fluid">
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span>({{ post.date | date:"%Y-%m-%d" }})</span>
        </li>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
	  <script>
		  if(window.location.hash) {
  var tag = window.location.hash.split('#')[1];
  filter(tag);
}

function filter(tag) {
  setActiveTag(tag);
  showContainer(tag);
}

function setActiveTag(tag) {
  // loop through all items and remove active class
  var items = document.getElementsByClassName('post-list__container');
  for(var i=0; i < items.length; i++) {
    items[i].setAttribute('class', 'post-list__container');
  }

  // set the selected tag's item to active
  var item = document.getElementById(tag + '-item');
  if(item) {
    item.setAttribute('class', 'post-list__container active');
  }
}

function showContainer(tag) {
  // loop through all lists and hide them
  var lists = document.getElementsByClassName('blog-list-container');
  for(var i=0; i < lists.length; i++) {
    lists[i].setAttribute('class', 'blog-list-container hidden');
  }

  // remove the hidden class from the list corresponding to the selected tag
  var list = document.getElementById(tag + '-container');
  if(list) {
    list.setAttribute('class', 'blog-list-container');
  }
}
	  </script>
	  {% for post in site.posts %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <article class="post margin-bottom--medium" data-file="{{ post.url | prepend: site.baseurl }}" data-target="article" itemscope itemtype="http://schema.org/BlogPosting">
 <a href="{{ post.url | prepend: site.baseurl }}" class="post-list__container">
        <div class="post-list__image-container">
          <div class="post-list__image" style="background-image: url({% if post.image %}{{ post.image }}{% else %}{{site.generic_image}}{% endif %});"></div>
          <div class="post-list__link e-small e-600 e-uppercase"><span class="post-list__reading-time">
            <span class="js-post-list__reading-time">3 minute</span> read</span></div>
        </div>
        <article class="post-list__article tag-red">
		<a itemprop="url" href="{{ post.url }}" target="_blank" title="{{ post.title }}">
              <div class="post-list__date e-small">posted on <small class="timestyle">
  <time datetime="{{ post.date | '%Y-%m-%dT%H:%i:%S-08:00' }}">{{ post.date | date_to_string }}</time>
</small></div>
          <h3 class="post-list__title e-600">{{ post.title }}</h3>
          <div class="post-list__excerpt e-small-1 p-bottom-md-40">{{ post.content | strip_html | truncatewords:36}}</div>
	</a>
        </article>
            
           </a>  
    </article>
         </div>    
  {% endfor %}
    </div>
    </div>
  
<div class="divider--dotted"></div>
      </div>
      </div>
       
</section>
