    <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--footer-new-cta p-top-md-100 p-bottom-md-80">

        <div class="container color-white stellar-container vh-center"> 
            <div class="col-md-12 text-center">
            <div class="spacer32 visible-xs"></div> 
                <header> 
                    <h2 class="text-bold m-t-none text-xl no-padding"> Build amazing search </h2> 
                    <div class="spacer32"></div> 
<p class="no-padding text-lg text-thin">
            Create stellar search with no strings attached. Dive into Algolia with our 14-day<span class="cf"></span> trial, and experience the value search can bring to your business.</p> 
                </header> 
                <div class="inline spacer40 hidden-sm"></div> 
                <div class="inline spacer32 visible-sm"></div>
                <a class="btn btn-static-primary btn-static-shadow-dark p-l-xlarge p-r-xlarge w100p m200" href="https://id.everpayinc.com/signup"> Start trial <i class="icon icon-arrow-right color-white"></i> </a> 
            </div> 
        </div>
    </section>


<section class="hidden tp--section tp--cta tp--cta-2 tp--section-dark tp--gradient-22 tp--padding-10 p-bottom-md-20">    
<div class="row tp--col-sm-vertical-align">
    
        
      <div class="container">
        
        <div class="row">
          <div class="col-lg-12">
       <h2 class="title text-center p-bottom-md-10">Are You A Developer?</h2>
   <p class="text-center"><a href="sandbox/" class="btn btn-sandbox btn-lg">Try The Sandbox</a></p>           
   <p><a href="https://id.everpayinc.com/users/signup" class="hidden btn btn-primary btn-lg">Try It Free <i class="icon icon-arrow-right color-white"></i></a></p>
              </div>
       
        </div>

      </div>
 <div class="container">
          <div class="col-sm-6 col-offset-sm-1 text-left">
            <h2 class="title">Ready to Get Started?</h2>
            <p class="hidden">Sign up to get started with your free account.</p>
          </div>
          <div class="col-sm-6">
 <p class=""><a href="sandbox/" class="btn btn-sandbox btn-lg">Try The Sandbox</a></p>          
           
 <p class=""><a href="https://id.everpayinc.com/signup" class="btn btn-primary btn-lg">Get Account</a></p>
           </div>

        </div>

    </section>
