<section class="tp--section tp--cta tp--cta-2 tp--section-dark tp--gradient-22 tp--padding-10 p-bottom-md-20">

      <div class="container">
<div class="row tp--col-sm-vertical-align">

          <div class="col-sm-6 col-offset-sm-1 text-left">
            <h2 class="title">Ready to Get Started?</h2>
            <p class="hidden">Sign up to get started with your free account.</p>
          </div>
          <div class="col-sm-6">
 <p class=""><a href="sandbox/" class="btn btn-sandbox btn-lg">Try The Sandbox</a></p>          
           
 <p class=""><a href="https://id.everpayinc.com/signup" class="btn btn-primary btn-lg">Get Account</a></p>
           </div>

        </div>

    </section>
