    <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--cta-1 tp--section-dark tp--gradient-22 tp--padding-40 p-bottom-md-60">

      <div class="container">
        
        <div class="row">
          <div class="col-lg-12">
       <h2 class="title text-center">Already Have a Merchant Account?</h2>
                 </div>
              <div class="col-sm-6 col-offset-sm-1 text-left"> </div>
          <div class="col-sm-6">
  <p><a href="#modal-contact" class="hidden btn btn-primary btn-lg btn-circular popup-modal">Get in touch today</a></p>          
  <span class="hidden"><p><a href="sandbox/" class="btn btn-sandbox btn-lg">Try The Sandbox</a></p></span>           
   <span class=""><p><a href="https://id.everpayinc.com/signup" class="btn btn-primary btn-lg">Try Us Out</a></p></span>
              </div>
       
        </div>

      </div>
  <hr>
    </section>


<section class="hidden tp--section tp--cta tp--cta-2 tp--section-dark tp--gradient-22 tp--padding-10 p-bottom-md-20">

      <div class="container">
<div class="row tp--col-sm-vertical-align">

          <div class="col-sm-6 col-offset-sm-1 text-left">
            <h2 class="title">Ready to Get Started?</h2>
            <p class="hidden">Sign up to get started with your free account.</p>
          </div>
          <div class="col-sm-6">
 <p class=""><a href="sandbox/" class="btn btn-sandbox btn-lg">Try The Sandbox</a></p>          
           
 <p class=""><a href="https://id.everpayinc.com/signup" class="btn btn-primary btn-lg">Get Account</a></p>
           </div>

        </div>

    </section>
