<header class="tp--header tp--header-fixed tp--header-shrink tp--header-1">

      <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

      <nav class="navbar-wrapper">

        <div class="container clearfix">
          <h1 class="logo">
            <a href="{{ site.baseurl }}/">
               <img src="https://cdn.everpayinc.com/assets/img/logo.png" class="logo-main" width="140" alt="Everpay" title="Everpay - Card processing, e-commerce, and payouts in one simple API">
              <img src="https://cdn.everpayinc.com/assets/img/logo-dark.png" class="logo-dark" width="140" alt="Everpay" title="Everpay - Card processing, E-commerce, and payouts in one simple API">
            </a>
          </h1>
              
          <div class="navbar tp--nav-dropdown pull-right">

            <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                    
              <li class="has-dropdown links" data-content="solutions">
                  <a href="javascript:void(0);">Why Us</a>
                </li>
                    
                <li class="has-dropdown links" data-content="services">
                  <a href="javascript:void(0);">What We Do</a>
                </li>
                    
                <li>
                  <a href="{{ site.baseurl }}/pricing/">Pricing</a>
                      <span data-hover="Services">Services</span>
                </li>
              
               <li class="has-dropdown links" data-content="company">
                  <a href="javascript:void(0);">Company</a>
                </li>

                 <li class="has-dropdown links" data-content="resources">
                  <a href="javascript:void(0);">Resources</a>
                </li>

                    <li class="tp--nav-divider"><a></a></li>
             
                <li class="">
          <a href="javascript:void(0);" class="hi-icon-wrap hi-icon-effect-8 hi-icon hi-icon-user" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sales: 800.566.6003">
                      </a>
                 </a>               
               </li>
                <li>
                  <a class="" href="https://app.everpayinc.com/login/"><span class="btn-empty"><i class="fa fa-lock fa-lg m-right-lg-5"></i> Login </span></a>
                </li>
                <li class="tp--nav-signup">
                  <a class="" href="https://id.everpayinc.com/signup/"><span class="btn btn-lg btn-primary">Get Started</span></a>
                </li>
             
              </ul>
            </div>

          </div>

          <!-- Dropdown Wrapper -->
          <div class="morph-dropdown-wrapper">
            <div class="morph-dropdown-container">
              <div class="dropdown-list text-center">
                <ul>

                  <li class="links">
                    <a href="{{ site.baseurl }}/products/" class="tp--nav-label tp--scroll">Why Us</a>
                  </li>
                
      <li id="services" class="dropdown links">
      <a href="javascript:void(0);" class="tp--nav-label" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-product">What We Do</a> 
               <div class="content" style="width:580px;"> 
<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>MAXIMIZE REVENUE</strong>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/card-processing/">Card Processing</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/check-processing/">ACH/E-Check </a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/solutions/mobile-processing">Everpay Mobile</a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/solutions/coin-processing/">Bitcoin</a>
                        </li>
                            
                      </ul>
                    </li>
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Expand Your Reach</strong>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/evermarket/">Everpay Marketplace</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/elektropay">Elektropay Gateway</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/everlytics/">Detailed Analytics</a>
                        </li>
                         <li>
                          <a href="{{ site.baseurl }}/products/everbiz">Everpay Lead Development</a>
                        </li>
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Ensure Security </strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/solutions/pci-compliance">PCI-compliance</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/solutions/fraud-prevention"> Fraud Prevention</a>
                        </li>
                        
                       <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      </ul>
          </li>
      </ul>

<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>INDUSTRIES SERVED</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/card-processing">Retail</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/company/contact">E-Ccommerce </a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/company/careers">Resturant</a>
                        </li>

                        <li>
                          <a href="//blog.everpayinc.com">Professional pratice</a>
                        </li>
                      
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Visualize your data</strong>
                        </li>
                         <li>
                          <a href="{{ site.baseurl }}/products/everlytics/">Detailed Analytics</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/contact">Ask A Question</a>
                        </li>

                      
                        <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>BOOST PRODUCTIVITY </strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/products/elektropay">Elektropay Gateway</a>
                        </li>
                       <li>
                          <a href="https://shop.everpayinc.com/">POS Terminals</a>
                        </li>
                        
                       <li>
                          <a href="{{ site.baseurl }}/solutions/Everfund">Everpay Capital</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/gift-loyalty-programs">Gift & Loyalty Program</a> 
                       </li>     
                          
                        <li>
                          <a href="{{ site.baseurl }}/solutions/integrations/">App Integrations</a>
                        </li>
                   </ul>
          </li>

       </ul>
</div>
</li>


 <li id="resources" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Resources</a>  
                    <div class="content" style="width:auto;"> 
                      <ul>
                        <li>
                          <a href="//support.everpayinc.com">Support & Help</a>
                        </li>
                        <li>
                          <a href="//developer.everpayinc.com/">Developer Hub</a>
                        </li>

                        <li>
                          <a href="//docs.everpayinc.com/">Documentation</a>
                        </li>
                                               
                       <li>
                          <a href="https://everpayinc.com/www/store">PayDep&emsp;<span class="label label-primary">New!</span></a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li id="company" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Company</a>
                             <span data-hover="Services">Company</span>
                    
                    <div class="content" style="width:auto;"> 
                      <ul>
                        <li>
                          <a href="{{ site.baseurl }}/company/about">About</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/company/contact">Contact</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/company/careers">Careers</a>
                        </li>
                       <li>
                          <a href="https://blog.everpayinc.com/">Our Blog</a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="tp--nav-divider"><a></a></li>
 <li class="links tp--nav-auth">
 <a class="btn btn-ghost btn-circular" href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sales: 800.566.6003">
<span class="fa-stack fa-lg">
  <i class="fa fa-phone fa-stack-1x"></i>
</span>
                 </a> 
                 </li>
           
<li class="links tp--nav-auth">
<a class="tp--nav-label" href="https://app.everpayinc.com/login"><span class="btn btn-lg btn-primary btn-empty"> Login</span></a>
 </li>

 <li class="links tp--nav-auth">
                    <a class="tp--nav-label" href="https://id.everpayinc.com/signup"><span class="btn btn-lg btn-primary">Get Started</span></a>
                  </li>

                  </ul>

                <div class="bg-layer" aria-hidden="true"></div>
              </div> <!-- dropdown-list -->
            </div>
          </div> <!-- morph-dropdown-wrapper -->

        </div>

      </nav>
      
    </header>

<div class="tp--inner">
