<div class="navbar">
<div class="header clearfix">
<div class="toggle">
<div class="toggle-bar"></div>
<div class="toggle-bar"></div>
<div class="toggle-bar"></div>
</div>
<a class="logo" href="{{ site.baseurl }}/"><img width="125" height="35" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497453042/elektropay/assets/img/logo.png" alt="Logo" /></a>
<ul class="links">
      
<li><a class="nav-item" href="{{ site.baseurl }}/product/features/">Features</a></li>
<li><a class="nav-item" href="{{ site.baseurl }}/product/integrations/">Integrations</a></li>
<li><a class="nav-item" href="{{ site.baseurl }}/pricing/">Pricing</a></li>
      
<li class="dropdown nav-item hidden">
<a class="dropdown-toggle"  data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" aria-expanded="false" href="javascript:void(0);">
Customers
</a>
<ul class="dropdown-menu">
<li><a href="{{ site.baseurl }}/customers/startups_and_tech">Startups &amp; Technology Companies</a></li>
<li><a href="{{ site.baseurl }}/customers/sales_and_account_management">Sales &amp; Account Management</a></li>
<li><a href="{{ site.baseurl }}/customers/customer_service">Customer Service &amp; Client Success</a></li>
<li><a href="{{ site.baseurl }}/customers/business_consultants">Business Consultants &amp; Coaches</a></li>
<li><a href="{{ site.baseurl }}/customers/freelancers">Solopreneurs &amp; Freelancers</a></li>
<li><a href="{{ site.baseurl }}/customers/financial_services">Financial Services</a></li>
<li><a href="{{ site.baseurl }}/customers/small_businesses">Busy Professionals</a></li>
<li><a href="{{ site.baseurl }}/customers/retail_locations">Retail Locations</a></li>
</ul>
</li>
      
<li class="dropdown nav-item">
<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" aria-expanded="false" href="javascript:void(0);">
Company
</a>
<ul class="dropdown-menu">
<li><a href="{{ site.baseurl }}/company/about/">Meet The Team</a></li>
<li><a href="{{ site.baseurl }}/company/press">Press Releases</a></li>
<li><a href="{{ site.baseurl }}/company/careers/">Jobs &amp; Careers</a></li>
<li><a href="https://blog.elektropay.com/">Elektro_lyte Blog</a></li>
</ul>
</li>
      
<li><a class="" href="{{ site.baseurl }}/contact/">Contact</a></li>
      
<li class="mobile-off"><a class="primary" data-section="navbar" href="{{ site.baseurl }}/signup">Sign Up</a></li>
<li class="mobile-off"><a class="last" href="{{ site.baseurl }}/login">Log In</a></li>
<li class="account-options desktop-off">
<div class="row">
<div class="col1of2"><a class="primary" data-section="navbar" href="{{ site.baseurl }}/signup">Sign Up</a></div>
<div class="col1of2"><a href="{{ site.baseurl }}/login">Log In</a></div>
</div>
</li>
     
</ul>
</div>
</div>



<header class="site-header hidden" style="display: none">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

