<header id="everpay--header" class="tp--header tp--header-fixed tp--header-shrink tp--header-1">

      <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

      <nav class="navbar-wrapper">

        <div class="clearfix">
          <div class="logo">
            <a href="{{ site.baseurl }}/">
               <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853334/Everpaylogo-261x67_jrwizm.png" class="logo-main" width="140" alt="Everpay" title="Everpay - Card processing, e-commerce, and payouts in one simple API">
              <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853334/Everpay-dark-logo_lghtzd.png" class="logo-dark" width="140" alt="Everpay" title="Everpay - Card processing, E-commerce, and payouts in one simple API">
            </a>
          </div>
              
          <div class="navbar tp--nav-dropdown pull-right">

            <div class="navbar-collapse collapse">

              <ul class="nav-left navbar-nav">
                    
              <li class="has-dropdown links" data-content="why-everpay">
                  <a href="javascript:void(0);">Why Us</a>
                </li>
                    
                <li class="has-dropdown links" data-content="services">
                  <a href="javascript:void(0);">What We Do</a>
                </li>
                    
                <li>
                  <a href="{{ site.baseurl }}/pricing/">Pricing</a>
                </li>
              
               <li class="has-dropdown links" data-content="company">
                  <a href="javascript:void(0);">Company</a>
                </li>

                <li>
                  <a href="//shop.everpayinc.com"> Shop</a>
                </li>
                    
                 <li class="has-dropdown links" data-content="resources">
                  <a href="javascript:void(0);">Resources</a>
                </li>

                    <li class="tp--nav-divider"><a></a></li>
                  </ul>
                  
                   <ul class="nav-right navbar-nav">
                    <li class="">
          <a href="javascript:void(0);" class="hi-icon-wrap hi-icon-effect-8 hi-icon hi-icon-user" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sales: 800.566.6003">
                      </a>
                 </a>               
               </li>
                <li>
                  <a class="" href="https://app.everpayinc.com/login/"><span class="btn-empty"><i class="icon-budicon-288 fa-lg m-right-lg-5"></i> Login </span></a>
                </li>
                <li class="tp--nav-signup">
                  <a class="" href="https://id.everpayinc.com/signup/"><span class="btn btn-round btn-primary">Get Started</span></a>
                </li>
             
              </ul>
            </div>

          </div>

          <!-- Dropdown Wrapper -->
          <div class="morph-dropdown-wrapper">
            <div class="morph-dropdown-container">
              <div class="dropdown-list text-center">
                <ul>
           <li id="why-everpay" class="dropdown links">
      <a href="javascript:void(0);" class="tp--nav-label" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-product">Why us</a> 
               <div class="content" style="width:550px;"> 
<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>Industries Served</strong>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/industries/retail-merchants/">Retail</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/industries/online-merchants/">E-Commerce </a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/industries/restaurants">Restaurant</a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/industries/professional-practice/">Professionals</a>
                        </li>
                            
                      </ul>
                    </li>
      <li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Commerce Solutions</strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/solutions/high-risk">High Risk</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/solutions/fraud-prevention"> Fraud Prevention</a>
                        </li>
                        
                       <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      </ul>
          </li>
      <li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Ensure Security</strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/solutions/pci-compliance">PCI-compliance</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/solutions/fraud-prevention"> Fraud Prevention</a>
                        </li>
                        
                       <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      </ul>
          </li>
         </ul>
                  </li>
                
      <li id="services" class="dropdown links">
      <a href="javascript:void(0);" class="tp--nav-label" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-product">What We Do</a> 
               <div class="content" style="width:580px;"> 
<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>Maximize Revenue</strong>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/card-processing/">Card Processing</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/check-processing/">ACH/E-Check </a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/solutions/mobile-processing">Everpay Mobile</a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/solutions/coin-processing/">Bitcoin</a>
                        </li>
                            
                      </ul>
                    </li>
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Expand Your Reach</strong>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/mainmarket/">E-Marketplace</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/elektropay">Elektropay</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/products/fundolero/">Everpay Capital</a>
                        </li>
                         <li>
                          <a href="{{ site.baseurl }}/products/mobile-marketing">Mobile Marketing</a>
                        </li>
                      </ul>
</li>
      
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Boost Productivity</strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/solutions/elektropay">Elektropay</a>
                        </li>
                       <li>
                          <a href="https://shop.everpayinc.com/">POS Terminals</a>
                        </li>
                        
                       <li>
                          <a href="{{ site.baseurl }}/solutions/invoicing">E-Invoicing</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/gift-loyalty-programs">Gift &amp; Loyalty Program</a> 
                       </li>     
                   </ul>
          </li>     
      
 </ul>

<ul class="navigation__sub row">
      
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Ensure Security </strong>
                        </li>
                      <li>
                          <a href="{{ site.baseurl }}/solutions/pci-compliance">PCI-compliance</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/solutions/fraud-prevention"> Fraud Prevention</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/encryption-services"> Data Encryption</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/solutions/chargeback-management"> ChargeBack Reduction</a>
                        </li>   
                    </ul>
</li>     
      
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Data Visualization</strong>
                        </li>
                         <li>
                          <a href="{{ site.baseurl }}/features/xtreme-analytics/">Detailed Analytics</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/features/contact">Ask A Question</a>
                        </li>

                      
                        <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      
                      </ul>
</li>      

<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>Payments Expertise</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/advisory/payments">Payments</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/advisory/marketing"> Marketing </a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/advisory/development">App Development</a>
                        </li>

                        <li>
                          <a href="{{ site.baseurl }}/advisory/cloud-hosting">Cloud Hosting</a>
                        </li>
                      
                      </ul>
</li>      

                     </ul>
</div>
</li>


     <li id="company" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Company</a>                    
                    <div class="content" style="width:140px;"> 
                      <ul>
                        <li>
                          <a href="{{ site.baseurl }}/company/about/">About</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/company/contact/">Contact</a>
                        </li>
                       <li>
                          <a href="{{ site.baseurl }}/company/careers/">Careers</a>
                        </li>
                       <li>
                          <a href="https://blog.everpayinc.com/">Our Blog</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                                          
 <li id="resources" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Resources</a>  
                    <div class="content" style="width:160px;"> 
                      <ul>
                        <li>
                          <a href="//support.everpayinc.com">Support &amp; Help</a>
                        </li>
                        <li>
                          <a href="//developer.everpayinc.com/">Developer Hub</a>
                        </li>

                        <li>
                          <a href="//docs.everpayinc.com/">Documentation</a>
                        </li>
                                               
                       <li>
                          <a href="https://everpayinc.com/www/store">PayDep&emsp;<span class="label label-primary">New!</span></a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="tp--nav-divider"><a></a></li>
                      
 <li class="links tp--nav-auth">
 <a class="btn btn-ghost btn-circular" href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sales: 800.566.6003">
<span class="fa-stack fa-lg">
  <i class="fa fa-phone fa-stack-1x"></i>
</span>
                 </a> 
                 </li>
           
<li class="links tp--nav-auth">
<a class="tp--nav-label" href="https://app.everpayinc.com/login"><span class="btn btn-lg btn-primary btn-empty"> Login</span></a>
 </li>

 <li class="links tp--nav-auth">
                    <a class="tp--nav-label" href="https://id.everpayinc.com/signup"><span class="btn btn-round btn-primary">Get Started</span></a>
                  </li>

                  </ul>

                <div class="bg-layer" aria-hidden="true"></div>
              </div> <!-- dropdown-list -->
            </div>
          </div> <!-- morph-dropdown-wrapper -->

        </div>

      </nav>
      
    </header>

<div class="tp--inner">
