---
layout: default
---


<section id="featured1" class="tp--section tp--hero tp--padding-md">
      <div class="container">
        <div class="row tp--col-sm-vertical-align">
          <div class="col-md-12 text-center text-md-left post-header p-top-md-40">
    <h1 class="text-center title">
   
          {{ page.title }}</h1>
            </div>
          </div>
        </div>
</section>

<section class="tp--section p-top-sm-60 p-bottom-sm-100">
        <div class="clearfix">
          {{ content }}
          </div>
  </section>


