---
layout: default
---
<section id="featured1" class="tp--section tp--featured tp--section-dark tp--padding-lg">
      <div class="container">
        <div class="row tp--col-sm-vertical-align">
          <div class="col-md-12 text-center text-md-left post-header p-top-md-40">
    <h1 class="text-center post-title">{{ page.title }}</h1>
            </div>
          </div>
        </div>
</section>

<section class="tp--section p-top-sm-40 p-bottom-sm-60">
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-duration="750">
        <div class="row clearfix">
    {{ content }}
          </div>
        </div>
  </section>

