---
layout: default
---

    <!-- Hero Section
    ================================================== -->
    <section id="intro" class="tp--intro tp--intro-dark tp--slider-single tp--owl-carousel-single owl-carousel owl-theme" data-carousel-options='{ "items": "1", "mouseDrag": false, "touchDrag": false, "responsive": { "0": { "items":"1" } } }'>

        <div class="item tp--intro-content-left text-sm-center tp--with-image tp--section tp--hero tp--padding-xlg" style="background: url('https://res.cloudinary.com/lmj6rf6tz/image/upload/v1508311993/retail-fp_phsag5.jpg');">

         <div class="container">
        <div class="row tp--col-sm-vertical-align">
          <div class="col-md-12 text-center text-md-left post-header p-top-md-120 p-bottom-md-100">
    <h1 class="text-center post-title">
     <hr class="dash dash--center dash--white text-center ">
          {{ page.title }}</h1>
            </div>
          </div>
        </div>

        </div>

</section>




<section class="tp--section p-top-sm-0 p-bottom-sm-0">
    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="750">
        <div class="row-fluid clearfix">
    {{ content }}
          </div>
        </div>
  </section>

  {% include cta-section.html %}
